<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">
        Demo App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
            </li>                
            <li class="nav-item">
                <a class="nav-link" routerLink="/Calculation" routerLinkActive="active">Calculation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Employee" routerLinkActive="active">Employee</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/Forms" routerLinkActive="active">Forms</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/Testing" routerLinkActive="active">Testing</a>
            </li>
        </ul>
    </div>
</nav>
